:root{
	--mainColor:#2f2f2f;
	--secondaryColor:#612800;
	--borderColor:#612800;

	--mainText:#cacaca;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#2a2f25;


	--buttonColor:#9e9e9e;


}